        a {
            color: rgb(60, 60, 60);
        }
        body {
            overflow-x: hidden;
        }

        footer {
            overflow: hidden;
        }

        .mr-mid {
            margin-right: auto !important;
            margin-left: auto !important;
        }


        @media only screen and (min-width: 471px) {
            nav>.nav-title {
                margin-left: 4%; font-size: 35px; 
            }
            
            nav > .navbar-brand {
                margin-left: auto;
            }
        }
        
        @media only screen and (max-width: 470px) {
            
            nav>.nav-title {
                margin-left: 0%; font-size: 30px; 
            }

            nav > .navbar-brand {
                margin-left: auto;
                margin-right: -6%;
            }
           
        }
        

        nav>.navbar-expand- .navbar {
            z-index: 10;
        }

        .wrapper {
            width:100%;
            overflow: hidden;
        }

        .dropdown-menu {
            overflow: visible;
        }



        .btn {
            background-color: transparent;

            margin-top: 20px;
            border-radius: 0%;
            border-color: black;
            color: black;

            transition: all .5s ease-in-out;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;

        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .signature {
                width: 133px
            }